.carousel-indicators {
    bottom: -50px!important;
}

.carousel-indicators [data-bs-target] {
    width: 05px!important;
    height: 05px!important;
    border-radius: 50%!important;
}

.slider-image {
    height: 100px;
    width: 600px;
    padding-right: 0px!important;
    padding-left: 0px!important;
}